<!DOCTYPE html>
<html>
<head>
  <title>Submit Form</title>
</head>
<body>
  <h1>Submit Your Details</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul style="color: red;">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="post">
    Name: <input type="text" name="name" required><br><br>
    Email: <input type="email" name="email" required><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
